{% extends 'admin/master.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Data Export</h1>
            <hr>
            
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Export Instructions</h3>
                </div>
                <div class="panel-body">
                    <p>Click the button below to export data from the following database tables, packaged as a ZIP file:</p>
                    <ul>
                        <li><strong>tb_post_public</strong> - Public posts data</li>
                        <li><strong>tb_post_comment</strong> - Comments data</li>
                        <li><strong>tb_post_like</strong> - Likes data</li>
                        <li><strong>tb_post_flag</strong> - Flags data</li>
                        <li><strong>tb_post_factcheck</strong> - Fact check data</li>
                        <li><strong>tb_room</strong> - Rooms data</li>
                        <li><strong>tb_room_member</strong> - Room members data</li>
                        <li><strong>tb_user</strong> - Users data (password field excluded)</li>
                    </ul>
                    <p class="text-muted">
                        <small>
                            <i class="glyphicon glyphicon-info-sign"></i>
                            Note: Exported data is in CSV format with UTF-8 encoding (BOM), compatible with Excel.
                        </small>
                    </p>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <a href="{{ url_for('.export') }}" class="btn btn-primary btn-lg">
                        <i class="glyphicon glyphicon-download-alt"></i>
                        Start Data Export
                    </a>
                </div>
            </div>
            
            <div class="alert alert-warning" role="alert">
                <strong>Warning:</strong> Exported data contains sensitive information. Please handle with care!
            </div>
        </div>
    </div>
</div>
{% endblock %}
