<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        /**
         * 初始化连接
         */
        socket.on("connect", function() {
            /**
             * socket加入聊天室
             */
            socket.emit("room_join", {
                "room_id": "28",
                "username": "user14"
            });

            /**
             * 退出聊天室
             */
            socket.emit("room_leave", {
                "room_id": "28",
                "username": "user14"
            });

            /**
             * 好友上线
             * return:
             * data: {
             *  user_id: 18
             * }
             */
            socket.on("friend_online", function (data, cb) {
                console.log(data);
            });

            /**
             * 注册timeline更新事件 post_pull
             * return:
             * data: {
             *     "timeline_type": 1，  // 0:public, 1:private
             *     "posts_number": 10
             * }
             */
            socket.on("post_pull", function (data, cb) {
                console.log(data);
            });

            /**
             * 发送即时聊天消息
             */
            socket.emit("chat_msg", {
                "room_id": "",
                "user_from": "",
                "user_to": "",
                "message_content": "",
                "message_timestamp": ""
            });

            /**
             * 接收即时聊天消息
             */
            socket.on("chat_msg", function (data, cb) {
                console.log(data);  // data内容参考发送即时消息json
            });

            /**
             * 通用广播（备用）
             */
            socket.on("broadcast_msg", function (msg, cb) {
                console.log(msg);
            });
        });
    </script>
    <title>Title</title>
</head>
<body>
hello world
</body>
</html>