<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit( 'join', {
              "room" : "123456"
            });
            socket.on('connected', function (msg, cb) {
                console.log(msg);
            });
            socket.on('broadcast_msg', function (msg, cb) {
                console.log(msg);
            })
        });
    </script>
    <title>Title</title>
</head>
<body>
hello world
</body>
</html>