flask
flask-bootstrap
flask-nav
flask-sqlalchemy
flask-login
flask-debug
flask-wtf
flask-admin
flask-principal
flask-sqlacodegen
flask-babelex
flask-httpauth
flask-session
flask-redis
flask-cache
flask-ckeditor
flask_apscheduler
flask-mail
flask-cors
flask-restful
flasgger
pymysql
requests
werkzeug==0.16.0
pillow

Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0