flask
flask-appconfig
flask-bootstrap
flask-nav
flask-sqlalchemy
flask-login
flask-debug
flask-wtf
flask-admin
flask-principal
flask-sqlacodegen
flask-babelex
flask-httpauth
flask-session
flask-redis
flask-cache
flask-ckeditor
flask_apscheduler
flask-mail
flask-cors

pymysql
requests